.cart {
    display: block;
    width: 100%;
    background-color: white;
    margin: 1em;
}

.ing {
    padding: .75em;
}

main {
    margin: 1em;
}

button {
    border: none;
}

tr, td {
    padding: .5em;
}

.remove {
    color: white;
    background-color: #8f8f8f;
    border-radius: 8px;
    padding: .5em;
}