* {
    font-family: sans-serif;
}

header {
    background-color: #1877a6;
    color: white;
    vertical-align: middle;
    flex: 0 80px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.header-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    align-items: center;
    margin-left: 1em;
    text-align: left;
    justify-content: last baselin;
}

.menu-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 14;
} 

header h1 {
    font-size: 10;
}

.welcome {
    text-align: right;
    margin-right: 1em;
}

footer a{
    text-decoration: none;
    color: rgb(164, 164, 164);
    padding-top: 0;
}

.login {
    flex: 1;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
}

@media (max-height: 700px) {
    header {
        display: block;
    }
    footer {
        display: block;
    }
}