button {
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5em;
    width: 95%;
    overflow: hidden;
}

.content{
    display: flex;
}

.sections{
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #b9dcf6;
    padding: 1.5em;
}

.recipes{
    display: block;
    width: 15%;
    background-color: #d3e8f8;
}

.recipes-dropdown {
    display: none;
    width: 100%;
    background-color: #d3e8f8;
}

.favorites {
    display: block;
    width: 85%;
    background-color: white;
    padding: 1em;
}

.shared {
    display: block;
    width: 100%;
    background-color: white;
    margin: 1em;
}

.recipe{
    display: block;
    width: 55%;
    background-color: white;
    padding: 1.5em;
}

.ingredients{
    display: block;
    width: 15%;
    background-color: rgb(211, 216, 221);
    padding: 1.5em;
}

.breakfast {
    background-color: red;
    width: 150%;
    text-align: left;
    padding-left: 30%;
    margin: .5em;
}

.lunch {
    background-color: orange;
    margin: .5em;
}

.dinner {
    background-color: yellow;
    margin: .5em;
}

.dessert {
    background-color: green;
    margin: .5em;
}

.side {
    background-color: blue;
    margin: .5em;
}

.new {
    background-color: purple;
    margin: .5em;
}

.all {
    background-color: purple;
    margin: .5em;
}

.recipe-btn {
    background-color: white;
    width: 100%;
    color: black;
    padding: 0;
    margin: 0;
}

.checked {
    color: orange;
}

.favorite {
    background-color: white;
    width: 40;
}

.recp {
    padding: .5em;
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }

    .sections {
        flex-direction: row;
        width: 100%;
        overflow-y: auto;
    }

    .breakfast {
        border: thick white solid;
        color: white;
        padding: 1em 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: .5em;
        width: 95%;
        overflow: hidden;
    }

    .recipes {
        display: none;
    }

    .recipes-dropdown {
        display: block;
    }

    .recipe {
        width: 100%;
    }
    

    .ingredients {
        width: 100%;
    }

}