* {
    font-family: sans-serif;
}

header {
    background-color: #1877a6;
    color: white;
    vertical-align: middle;
    flex: 0 0px;
}

main {
    flex: 1;
    flex-direction: row;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.header-flex {
    display: block;
    height: 50px;
    padding: .5em;
}

.menu-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0em 1em;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 14;
} 

header h3 {
    font-size: 10;
    float: left;
}

.welcome {
    text-align: right;
    margin-right: 1em;
    float: right;
}

footer a{
    text-decoration: none;
    color: rgb(164, 164, 164);
    padding-top: 0;
}

.login {
    flex: 1;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.quoteBox {
    flex: 1;
    display: block;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (orientation: portrait) {
    main {
      flex-direction: column;
    }
}

@media (max-height: 700px) {
    header {
        display: block;
    }
    footer {
        display: block;
    }
}