button {
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5em;
    width: 95%;
    overflow: hidden;
}

.add {
    border: none;
    background-color: rgb(159, 163, 167);
    color: black;
    padding: 0%;
    margin: 0%;
    width: 1.5em;
    border-radius: 20%;
}

.content{
    display: flex;
}

.recipes{
    display: block;
    width: 15%;
    background-color: #d3e8f8;
}

.messages{
    display: block;
    width: 15%;
    background-color: #acadae;
    color: black;
    padding: 1em;
}

.recipes-dropdown {
    display: none;
    width: 100%;
    background-color: #d3e8f8;
}

.shared {
    display: block;
    width: 100%;
    background-color: white;
    margin: 1em;
}

.recipe{
    display: block;
    width: 120%;
    background-color: white;
    padding: 1.5em;
}

.recipe-btn {
    background-color: #d3e8f8;
    width: 100%;
    color: black;
    padding: 0;
    margin: 0;
}

.recipe-btn:focus {
    background-color: white;
    width: 100%;
    color: black;
    padding: 0;
    margin: 0;
}

.recp {
    padding: .5em;
}

.submit {
    color: white;
    background-color: rgb(5, 141, 231);
    border: none;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 6em;
    border-radius: 5px;
}

#fakeRecipe {
    display: block;
}

.top-line {
    display: block;
}

.top-line p {
    float: left;
}

.top-lin img {
    float: right;
}

#newRecipe {
    display: none;
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }

    .recipes {
        display: none;
    }

    .recipes-dropdown {
        display: block;
    }

    .recipe {
        width: 100%;
    }
}